<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Familiares:</h3>
    <p>
      <u>Nombre</u>: {{familiar1.nombre}}
      <br />
      <u>Parentesco</u>: {{familiar1.pariente}}
      <br />
      <u>Edad:</u> {{familiar1.edad}}
      <br />
      <u>Fecha de nacimiento:</u> {{familiar1.fecha_nacimiento}} <br /><br />
      <u>Nombre</u>: {{familiar2.nombre}}
      <br />
      <u>Parentesco</u>: {{familiar2.pariente}}
      <br />
      <u> Edad</u>: {{familiar2.edad}}
      <br />
      <u> Fecha de nacimiento</u>: {{familiar2.fecha_nacimiento}} <br /><br />
      <u>Nombre</u>: {{familiar3.nombre}}
      <br />
      <u>Parentesco</u>: {{familiar3.pariente}}
      <br />
      <u> Edad</u>: {{familiar3.edad}}
      <br />
      <u> Fecha de nacimiento</u>: {{familiar3.fecha_nacimiento}}
    </p>
  </body>
</html>
